{
  "extends": ["@indivorg/eslint-config"],
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "ignorePatterns": [".eslintrc.js", "src/__tests__"],
  "rules": {
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-var-requires ": "off"
  },
  "overrides": [
    {
      "files": ["src/main.ts"],
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
